# Ignore Drupal configuration file and files directory.
settings.php
files/
files/*

# eclipse IDE specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath
# netbeans 
nbproject/
nbproject/*

/nbproject/private/
