body.mq-tablet.admin-menu.adminimal-menu:before {
    height: 0px;
}

.node-ids_document-form .field-name-field-document-urls .group-system {
	display:none;
}

.node-ids_document-form .field-name-field-document-urls .field-group-htabs-wrapper {
	float:left;	
	width:72%;
	margin-right:3%;
}
/*
.node-ids_document-form .field-name-field-document-urls .field-name-field-language-ref {
	float:left;	
	width:20%;
}
.node-ids_document-form .field-name-field-document-urls .field-name-field-format {
	float:left;	
	width:20%;
}
*/

.node-ids_document-form .field-name-field-document-urls  .field-name-field-document-url input{
	width:90%;
}
.node-ids_document-form .group-url-metadata {
	float:left;	
	width:25%;	
}

.node-ids_document-form .group-url-metadata h3 {
	display:none;
}

.group-more {
	clear:left;
}

/* reduce font sizes for adminimal in forms */

fieldset legend {
	font-size:1.1em;
}

.form-item label {
	font-size:1.1em;	
	font-weight:bold;
}

.form-item label.option {
	font-size:1em;	
}

fieldset fieldset.collapsed {
	padding:0px 12px;
}

.node-ids_document-form .field-name-field-document-url, 
.node-ids_document-form .field-name-field-language-ref,
.node-ids_document-form .field-name-field-format  {
	margin-bottom:0;
}

table th, table td {
	font-size:1em;	
	padding:5px;	
}

fieldset {
    border-top: 2px solid #ddd;
}

fieldset fieldset {
	border-top: 2px solid #ddd;
}

.horizontal-tabs-panes fieldset {
	border-top: none;
}

fieldset.collapsed {
	border-top: none;
}

.adminimal-theme .field-widget-inline-entity-form fieldset {
    /* border-top: solid 3px #ddd; */
    border-top: 2px solid #ddd;
}

.adminimal-theme .field-widget-inline-entity-form fieldset fieldset {
	border-top: 2px solid #ddd;
	margin-bottom:15px;
}

.adminimal-theme .field-widget-inline-entity-form fieldset.collapsed,
.adminimal-theme .field-widget-inline-entity-form fieldset fieldset.collapsed {
	border-top: none;
}

.adminimal-theme .field-widget-inline-entity-form .horizontal-tabs-panes fieldset {
	border-top: none;
}

.node-form .form-wrapper{
	margin-bottom:0;
}

body.adminimal-theme .autocomplete-deluxe-item,
div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
	margin:3px;
}

.chosen-container-single .chosen-search input[type="text"] {
	width:90%;
}

.field-name-field-licence-type-quick-links label {
	display:none;
}

.field-name-field-licence-type-quick-links label.option {
	display:inline-block;
}

.field-name-field-licence-type-quick-links .form-type-radio {
	display:inline-block;
	margin-right:1em;	
}

.has-js .view-site-toggle .form-actions {
	display:none;
}

.view-site-toggle .views-row-edit-static {
	display:none;	
}

#branding-left {
	float:left;
	width:60%;
}

#branding-right {
	float:right;
	width:40%;
	background-color:#fff;
	max-width:250px;
}

#branding-right {
	margin-bottom:1em;
}

#branding-right-inner {
	background-position:top center;
	background-repeat:no-repeat;
	margin:0.5em 1em 0 1em;	
}

#branding-right-inner table {
	margin-bottom:0;
}

#branding div.breadcrumb {
	color:#ddd;
}

div.breadcrumb a {
	color:#ccc;
}

#branding div.block {
	background: transparent;
	width:auto;
	float:none;
	padding:0;	
}

.view-site-toggle tr.odd,
.view-site-toggle tr.odd:hover, 
.view-site-toggle tr.even:hover,
.view-site-toggle tr.even {
	background: transparent;
}

.view-site-toggle .field-name-field-selected-site {
	margin:4em 0 0 0;
	float:right;
}

#block-system-main {
	background-position: right 20px top 60px;
	background-repeat:no-repeat;	
}

.page-node-edit #block-system-main {
	background-position: right 20px top 40px;	
}

.page-node-edit .idsims_document_num_translations_1 #block-system-main {
	background-position: right 20px top 105px;	
}

.filter-wrapper {
	display:none;
}

.has-js .view-find-content  .views-exposed-widget .description,
.has-js .form-wrapper .description {
	display:none;
}

.node-form .form-item label {
	display:inline-block;
}

.node-form .field-name-field-document-urls label{
	display:block;
}

.view-find-content  .views-exposed-widget label.helpTip span.help,
.form-item label.helpTip span.help {
    background-image: linear-gradient(90deg, #23408e, #3e76af);
	display:inline-block;
    text-align: center;
    padding: 0.1em 0.5em;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight:bold;
    color:#fff;
}

.horizontal-tabs ul.horizontal-tabs-list li a:hover,
.horizontal-tabs ul.horizontal-tabs-list li a:focus {
    outline: none;
    background-color: #ddd;
}

body {
	font-size:0.7em;
}

select {
	font-size:1em;	
}

div.autocomplete-deluxe-multiple {
	border: 1px solid #ddd;
}

body.adminimal-theme .chosen-container-multi .chosen-choices {
	border: 1px solid #ddd;
	padding:0.2em 0.5em;
	min-width:90%;	
}

.chosen-container {
	width:95%;
}

.ui-tooltip-content a {
	text-decoration:underline;
}
.ui-tooltip-content a:hover {
	text-decoration:none;
}

.field-type-datetime fieldset {
    border: none;
    border-top: none;
    padding: 0;
    margin: 0;
}

.field-type-datetime fieldset legend {
    padding: 0;
    margin: 0;	
}

#edit-author input.form-text {
	width:60%;
}

.field-widget-autocomplete-deluxe-taxonomy {
	margin-top:1em;
}

fieldset.date-combo .container-inline-date .date-padding {
	padding:0;
}

.field-name-field-publication-date,
.field-name-field-publication-date-uncertain {
	float:left;
	display:inline;
	width:50%;
}
.field-name-field-country-of-publication {
	clear:both;
}

.node-form .horizontal-tabs-panes {
	padding-top:1em;
}

.node-ids-document .field-name-body .field-items {
	width: 80%;
}

.field-name-field-authors-collection .field-name-field-author-ref {
	display:inline;
	float:left;
	width:79%;
	margin-right:1%;
}


.field-name-field-authors-collection .field-name-field-author-ref input.form-text {
	width:75%;
}

.field-name-field-authors-collection .field-name-field-is-editor {
	display:inline;
	float:left;
	width:8%;	
	margin-right:1%;
}

.field-name-field-authors-collection .form-submit {
	display:inline;
	float:left;	
}

.field-name-field-authors-collection thead {
	display:none;
}

.node .field {
	padding-bottom:0.25em;
	border-bottom:1px dotted #ddd;
	margin-bottom:1em;
}

.node .field .field {
	padding-bottom:0;
	border-bottom:none;
	margin-bottom:0;
}
