body.mq-tablet.admin-menu.adminimal-menu:before {
    height: 0px;
}

.node-ids_document-form .field-name-field-document-urls .group-system {
	display:none;
}

.node-ids_document-form .field-name-field-document-urls .field-group-htabs-wrapper {
	float:left;	
	width:72%;
	margin-right:3%;
}
/*
.node-ids_document-form .field-name-field-document-urls .field-name-field-language-ref {
	float:left;	
	width:20%;
}
.node-ids_document-form .field-name-field-document-urls .field-name-field-format {
	float:left;	
	width:20%;
}
*/

.node-ids_document-form .field-name-field-document-urls  .field-name-field-document-url input{
	width:90%;
}
.node-ids_document-form .group-url-metadata {
	float:left;	
	width:25%;	
}

.node-ids_document-form .group-url-metadata h3 {
	display:none;
}

.group-more {
	clear:left;
}

/* reduce font sizes for adminimal in forms */

fieldset legend {
	font-size:1.1em;
}

.form-item label {
	font-size:1.1em;	
}

.form-item label.option {
	font-size:1em;	
}

fieldset fieldset.collapsed {
	padding:0px 12px;
}

.node-ids_document-form .field-name-field-document-url, 
.node-ids_document-form .field-name-field-language-ref,
.node-ids_document-form .field-name-field-format  {
	margin-bottom:0;
}

table th, table td {
	font-size:1em;	
	padding:5px;	
}

fieldset {
    border-top: 2px solid #ddd;
}

fieldset fieldset {
	border-top: 2px solid #ddd;
}

.horizontal-tabs-panes fieldset {
	border-top: none;
}

fieldset.collapsed {
	border-top: none;
}

.adminimal-theme .field-widget-inline-entity-form fieldset {
    /* border-top: solid 3px #ddd; */
    border-top: 2px solid #ddd;
}

.adminimal-theme .field-widget-inline-entity-form fieldset fieldset {
	border-top: 2px solid #ddd;
	margin-bottom:15px;
}

.adminimal-theme .field-widget-inline-entity-form fieldset.collapsed,
.adminimal-theme .field-widget-inline-entity-form fieldset fieldset.collapsed {
	border-top: none;
}

.adminimal-theme .field-widget-inline-entity-form .horizontal-tabs-panes fieldset {
	border-top: none;
}

.node-form .form-wrapper{
	margin-bottom:0;
}

body.adminimal-theme .autocomplete-deluxe-item,
div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
	margin:3px;
}

.chosen-container-single .chosen-search input[type="text"] {
	width:90%;
}

.field-name-field-licence-type-quick-links label {
	display:none;
}

.field-name-field-licence-type-quick-links label.option {
	display:inline-block;
}

.field-name-field-licence-type-quick-links .form-type-radio {
	display:inline-block;
	margin-right:1em;	
}

.has-js .view-site-toggle .form-actions {
	display:none;
}

.view-site-toggle .views-row-edit-static {
	display:none;	
}

#branding-left {
	float:left;
	width:60%;
}

#branding-right {
	float:right;
	width:40%;
	background-color:#fff;
	max-width:250px;
}

#branding-right {
	margin-bottom:1em;
}

#branding-right-inner {
	background-position:top center;
	background-repeat:no-repeat;
	margin:0.5em 1em 0 1em;	
}

#branding-right-inner table {
	margin-bottom:0;
}

#branding div.breadcrumb {
	color:#ddd;
}

div.breadcrumb a {
	color:#ccc;
}

#branding div.block {
	background: transparent;
	width:auto;
	float:none;
	padding:0;	
}

.view-site-toggle tr.odd,
.view-site-toggle tr.odd:hover, 
.view-site-toggle tr.even:hover,
.view-site-toggle tr.even {
	background: transparent;
}

.view-site-toggle .field-name-field-selected-site {
	margin:4em 0 0 0;
	float:right;
}

#block-system-main {
	background-position: right 20px top 60px;
	background-repeat:no-repeat;	
}

.page-node-edit #block-system-main {
	background-position: right 20px top 40px;	
}

.page-node-edit .idsims_document_num_translations_1 #block-system-main {
	background-position: right 20px top 105px;	
}
